{% extends "base.html" %}


{% block content %}
  <h2>
    Tags
    <a style="float: right"
       href="{% url "todo_list:create_tag" %}"
       class="btn btn-primary link-to-page">
      Create
    </a>
  </h2>

	{% if tags %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for tag in tags %}
        <tr>
          <td>{{ tag.name }}</td>
          <td>
            <a href="{% url "todo_list:update_tag" pk=tag.id %}"
               class="btn btn-secondary">Update</a>
          </td>
          <td>
            <a href="{% url "todo_list:delete_tag" pk=tag.id %}"
               class="btn btn-secondary">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No tags!</p>
  {% endif %}
{% endblock %}